.main__container {
    margin: 20px 185px;
}

@media screen and (max-width: 900px) {
    .main__container{
        margin: 20px 50px;
    }
}

@media screen and (max-width: 600px) {
    .main__container{
        margin: auto 25px;
    }
}