.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--third-color);
    padding: 20px;
}

.footer__span {
    font-size: 0.9rem;
    margin-right: 15px;
    font-weight: 400;
    color: #FFF;
}

.footer__icon {
    margin: 3px;
    color: #FFF;
    vertical-align: middle;
}

.footer__a {
    text-decoration: none;
    cursor: pointer;
    color: #FFF;
}

@media screen and (max-width: 600px) {
    .footer__span {
        font-size: 0.8rem;
    }
}