.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    background-color: var(--third-color);
}

.footer__span {
    font-size: 0.9rem;
    margin-right: 15px;
    font-weight: 400;
    color: var(--second-color);
}

.footer__icon {
    margin: 3px;
    color: var(--second-color);
    vertical-align: middle;
}

.footer__a{
    text-decoration: none;
    cursor: pointer;
    color: var(--second-color);
}